<!--link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
<!DOCTYPE html>
<html>
  <head>
    <title>Hermant®</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/Bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="/styles/Bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/Bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="/styles/Bootstrap/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/homepage_style.css">
    <link rel="stylesheet" href="/styles/Homepage/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/material-design-iconic-font/css/materialdesignicons.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/themify-icons/ie7/ie7.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/css/weather-icons-core.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/css/weather-icons-variables.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/css/weather-icons-wind.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/css/weather-icons-wind.min.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/css/weather-icons.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-beaufort.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-day.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-direction.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-misc.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-moon.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-neutral.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-night.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-time.css">
    <link rel="stylesheet" href="/styles/Homepage/icons/weather-icons/less/css/variables-wind-names.css">
    <link rel="stylesheet" href="/styles/Homepage/style.css">
    <link rel="stylesheet" href="/styles/Homepage/style.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/signin_style.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/Bootstrap/bootstrap.bundle.js"></script>
    <script src="/js/Bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/Bootstrap/bootstrap.js"></script>
    <script src="/js/Bootstrap/bootstrap.min.js"></script>
    <script src="/js/Homepage/chartist-plugin-tooltip.min.js"></script>
    <script src="/js/Homepage/core.js"></script>
    <script src="/js/Homepage/custom.js"></script>
    <script src="/js/Homepage/custom.min.js"></script>
    <script src="/js/Homepage/ender.js"></script>
    <script src="/js/Homepage/esm/popper-utils.min.js"></script>
    <script src="/js/Homepage/esm/popper.min.js"></script>
    <script src="/js/Homepage/jquery.min.js"></script>
    <script src="/js/Homepage/jquery.slim.min.js"></script>
    <script src="/js/Homepage/locale/af.js"></script>
    <script src="/js/Homepage/locale/ar-dz.js"></script>
    <script src="/js/Homepage/locale/ar-kw.js"></script>
    <script src="/js/Homepage/locale/ar-ly.js"></script>
    <script src="/js/Homepage/locale/ar-ma.js"></script>
    <script src="/js/Homepage/locale/ar-sa.js"></script>
    <script src="/js/Homepage/locale/ar-tn.js"></script>
    <script src="/js/Homepage/locale/ar.js"></script>
    <script src="/js/Homepage/locale/az.js"></script>
    <script src="/js/Homepage/locale/be.js"></script>
    <script src="/js/Homepage/locale/bg.js"></script>
    <script src="/js/Homepage/locale/bm.js"></script>
    <script src="/js/Homepage/locale/bn.js"></script>
    <script src="/js/Homepage/locale/bo.js"></script>
    <script src="/js/Homepage/locale/br.js"></script>
    <script src="/js/Homepage/locale/bs.js"></script>
    <script src="/js/Homepage/locale/ca.js"></script>
    <script src="/js/Homepage/locale/cs.js"></script>
    <script src="/js/Homepage/locale/cv.js"></script>
    <script src="/js/Homepage/locale/cy.js"></script>
    <script src="/js/Homepage/locale/da.js"></script>
    <script src="/js/Homepage/locale/de-at.js"></script>
    <script src="/js/Homepage/locale/de-ch.js"></script>
    <script src="/js/Homepage/locale/de.js"></script>
    <script src="/js/Homepage/locale/dv.js"></script>
    <script src="/js/Homepage/locale/el.js"></script>
    <script src="/js/Homepage/locale/en-au.js"></script>
    <script src="/js/Homepage/locale/en-ca.js"></script>
    <script src="/js/Homepage/locale/en-gb.js"></script>
    <script src="/js/Homepage/locale/en-ie.js"></script>
    <script src="/js/Homepage/locale/en-il.js"></script>
    <script src="/js/Homepage/locale/en-nz.js"></script>
    <script src="/js/Homepage/locale/eo.js"></script>
    <script src="/js/Homepage/locale/es-do.js"></script>
    <script src="/js/Homepage/locale/es-us.js"></script>
    <script src="/js/Homepage/locale/es.js"></script>
    <script src="/js/Homepage/locale/et.js"></script>
    <script src="/js/Homepage/locale/eu.js"></script>
    <script src="/js/Homepage/locale/fa.js"></script>
    <script src="/js/Homepage/locale/fi.js"></script>
    <script src="/js/Homepage/locale/fo.js"></script>
    <script src="/js/Homepage/locale/fr-ca.js"></script>
    <script src="/js/Homepage/locale/fr-ch.js"></script>
    <script src="/js/Homepage/locale/fr.js"></script>
    <script src="/js/Homepage/locale/fy.js"></script>
    <script src="/js/Homepage/locale/gd.js"></script>
    <script src="/js/Homepage/locale/gl.js"></script>
    <script src="/js/Homepage/locale/gom-latn.js"></script>
    <script src="/js/Homepage/locale/gu.js"></script>
    <script src="/js/Homepage/locale/he.js"></script>
    <script src="/js/Homepage/locale/hi.js"></script>
    <script src="/js/Homepage/locale/hr.js"></script>
    <script src="/js/Homepage/locale/hu.js"></script>
    <script src="/js/Homepage/locale/hy-am.js"></script>
    <script src="/js/Homepage/locale/id.js"></script>
    <script src="/js/Homepage/locale/is.js"></script>
    <script src="/js/Homepage/locale/it.js"></script>
    <script src="/js/Homepage/locale/ja.js"></script>
    <script src="/js/Homepage/locale/jv.js"></script>
    <script src="/js/Homepage/locale/ka.js"></script>
    <script src="/js/Homepage/locale/kk.js"></script>
    <script src="/js/Homepage/locale/km.js"></script>
    <script src="/js/Homepage/locale/kn.js"></script>
    <script src="/js/Homepage/locale/ko.js"></script>
    <script src="/js/Homepage/locale/ky.js"></script>
    <script src="/js/Homepage/locale/lb.js"></script>
    <script src="/js/Homepage/locale/lo.js"></script>
    <script src="/js/Homepage/locale/lt.js"></script>
    <script src="/js/Homepage/locale/lv.js"></script>
    <script src="/js/Homepage/locale/me.js"></script>
    <script src="/js/Homepage/locale/mi.js"></script>
    <script src="/js/Homepage/locale/mk.js"></script>
    <script src="/js/Homepage/locale/ml.js"></script>
    <script src="/js/Homepage/locale/mn.js"></script>
    <script src="/js/Homepage/locale/mr.js"></script>
    <script src="/js/Homepage/locale/ms-my.js"></script>
    <script src="/js/Homepage/locale/ms.js"></script>
    <script src="/js/Homepage/locale/mt.js"></script>
    <script src="/js/Homepage/locale/my.js"></script>
    <script src="/js/Homepage/locale/nb.js"></script>
    <script src="/js/Homepage/locale/ne.js"></script>
    <script src="/js/Homepage/locale/nl-be.js"></script>
    <script src="/js/Homepage/locale/nl.js"></script>
    <script src="/js/Homepage/locale/nn.js"></script>
    <script src="/js/Homepage/locale/pa-in.js"></script>
    <script src="/js/Homepage/locale/pl.js"></script>
    <script src="/js/Homepage/locale/pt-br.js"></script>
    <script src="/js/Homepage/locale/pt.js"></script>
    <script src="/js/Homepage/locale/ro.js"></script>
    <script src="/js/Homepage/locale/ru.js"></script>
    <script src="/js/Homepage/locale/sd.js"></script>
    <script src="/js/Homepage/locale/se.js"></script>
    <script src="/js/Homepage/locale/si.js"></script>
    <script src="/js/Homepage/locale/sk.js"></script>
    <script src="/js/Homepage/locale/sl.js"></script>
    <script src="/js/Homepage/locale/sq.js"></script>
    <script src="/js/Homepage/locale/sr-cyrl.js"></script>
    <script src="/js/Homepage/locale/sr.js"></script>
    <script src="/js/Homepage/locale/ss.js"></script>
    <script src="/js/Homepage/locale/sv.js"></script>
    <script src="/js/Homepage/locale/sw.js"></script>
    <script src="/js/Homepage/locale/ta.js"></script>
    <script src="/js/Homepage/locale/te.js"></script>
    <script src="/js/Homepage/locale/tet.js"></script>
    <script src="/js/Homepage/locale/tg.js"></script>
    <script src="/js/Homepage/locale/th.js"></script>
    <script src="/js/Homepage/locale/tl-ph.js"></script>
    <script src="/js/Homepage/locale/tlh.js"></script>
    <script src="/js/Homepage/locale/tr.js"></script>
    <script src="/js/Homepage/locale/tzl.js"></script>
    <script src="/js/Homepage/locale/tzm-latn.js"></script>
    <script src="/js/Homepage/locale/tzm.js"></script>
    <script src="/js/Homepage/locale/ug-cn.js"></script>
    <script src="/js/Homepage/locale/uk.js"></script>
    <script src="/js/Homepage/locale/ur.js"></script>
    <script src="/js/Homepage/locale/uz-latn.js"></script>
    <script src="/js/Homepage/locale/uz.js"></script>
    <script src="/js/Homepage/locale/vi.js"></script>
    <script src="/js/Homepage/locale/x-pseudo.js"></script>
    <script src="/js/Homepage/locale/yo.js"></script>
    <script src="/js/Homepage/locale/zh-cn.js"></script>
    <script src="/js/Homepage/locale/zh-hk.js"></script>
    <script src="/js/Homepage/locale/zh-tw.js"></script>
    <script src="/js/Homepage/min/locales.min.js"></script>
    <script src="/js/Homepage/min/moment-with-locales.min.js"></script>
    <script src="/js/Homepage/min/moment.min.js"></script>
    <script src="/js/Homepage/moment.js"></script>
    <script src="/js/Homepage/package.js"></script>
    <script src="/js/Homepage/pages/dashboards/dashboard1.js"></script>
    <script src="/js/Homepage/popper-utils.min.js"></script>
    <script src="/js/Homepage/popper.min.js"></script>
    <script src="/js/Homepage/sidebarmenu.js"></script>
    <script src="/js/Homepage/umd/popper-utils.min.js"></script>
    <script src="/js/Homepage/umd/popper.min.js"></script>
    <script src="/js/Homepage/waves.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
