<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><b>Calendario de Mantenimientos</b></h3>
        <div id='calendar' style="max-width: inherit"></div>
      </div>
    </div>
  </div>
</div>
