<link rel="stylesheet" href="/styles/local/signin_style.css">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.freeiconspng.com/uploads/excavator-png-4.jpg" width="350" alt="Vector Excavator Png" /></a>
    </div>

    <!-- Login Form -->
    <form method="post" action="/resetpass/user/new">
      <input type="password" id="login" class="fadeIn second" name="passActual" placeholder="CONTRASEÑA ACTUAL">
      <input type="password" id="login" class="fadeIn second" name="passNueva" placeholder="CONTRASEÑA NUEVA">
      <input type="password" id="login" class="fadeIn second" name="passNueva2" placeholder="REPITA CONTRASEÑA NUEVA">
      <input type="submit" class="fadeIn third" value="Cambiar Contraseña">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">

    </div>

  </div>
</div>
