<link rel="stylesheet" href="/styles/local/signin_style.css">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.freeiconspng.com/uploads/excavator-png-4.jpg" width="350" alt="Vector Excavator Png" /></a>
    </div>

    <!-- Login Form -->
    <form method="post" action="/resetpass/admin/new">
      <input type="text" id="login" class="fadeIn second" name="dni" placeholder="DNI">
      <input type="text" id="login" class="fadeIn second" name="dni2" placeholder="REPITA EL DNI">
      <input type="submit" class="fadeIn third" value="Restaurar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      La contraseña será restaurada a "1234". Recuerde al personal que debe cambiarla en el primer uso.
    </div>

  </div>
</div>
