
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrapper">    <!-- Agrego este div al principio-->
  <div class="container-fluid">   <!-- Agrego este div segundo-->
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <!--img src="https://listimg.pinclipart.com/picdir/s/215-2156042_clip-dump-construction-construction-vehicles-clipart-png-transparent.png" id="icon" alt="User Icon" /-->
            <img src="https://www.freeiconspng.com/uploads/excavator-png-4.jpg" id="icon" alt="UserIcon">
          </div>

          <!-- Login Form -->
          <form method="post" action="/login">
            <input type="text" id="login" class="fadeIn second" name="dni" placeholder="DNI">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="CONTRASEÑA">
            <input type="submit" class="fadeIn fourth" value="Entrar">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Olvide mi contraseña</a>
          </div>

        </div>
      </div>
    </div>
  </div>  <!-- Cierro el container-fluid-->
</div>  <!-- Cierro el page-wrapper-->
