<link rel="stylesheet" href="/styles/local/signin_style.css">
<!--- Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles-->


        <div class="fadeIn first">
          <img src="https://www.freeiconspng.com/uploads/excavator-png-4.jpg" id="icon" alt="UserIcon">
        </div>


          <form method="post" action="/signup/newUser">
            <input type="text" id="dni" class="fadeIn second" name="dni" placeholder="DNI">
            <input type="text" id="name" class="fadeIn third" name="name" placeholder="NOMBRE">
            <input type="text" id="lastname" class="fadeIn fourth" name="lastname" placeholder="APELLIDO">
            <input type="text" id="contrasena" class="fadeIn fourth" name="password" placeholder="CONTRASEÑA">
            <input type="text" id="contrasena2" class="fadeIn fourth" name="password2" placeholder="REPITA LA CONTRASEÑA">

            <div class="container">
              <div class="container">
                <select class="custom-select fadeIn fourth" type="text" name="permissions">
                  <option selected>PERMISOS</option>
                  <option value="admin">Administrador</option>
                  <option value="other1">Otro 1</option>
                  <option value="other2">Otro 2</option>
                  <option value="other3">Otro 3</option>
                </select>
              </div>
            </div>

            <input type="submit" class="fadeIn fourth" value="Entrar">
          </form>
      </div>
    </div>
