
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/styles/signin_style.less">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://listimg.pinclipart.com/picdir/s/215-2156042_clip-dump-construction-construction-vehicles-clipart-png-transparent.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="post" action="/login">
      <input type="text" id="login" class="fadeIn second" name="dni" placeholder="DNI">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="CONTRASEÑA">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Olvide mi contraseña</a>
    </div>

  </div>
</div>
