<link rel="stylesheet" href="/styles/local/signin_style.css">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">

      <img src="https://www.freeiconspng.com/uploads/excavator-png-4.jpg" width="350" alt="Vector Excavator Png" /></a>
      <!--img src="https://listimg.pinclipart.com/picdir/s/215-2156042_clip-dump-construction-construction-vehicles-clipart-png-transparent.png" id="icon" alt="User Icon" /-->
    </div>

    <!-- Login Form -->
    <form method="post" action="/login">
      <input type="text" id="login" class="fadeIn second" name="dni" placeholder="DNI">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="CONTRASEÑA">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      Si olvidó su contraseña, por favor avise al administrador para que le proporcione una nueva.
    </div>

  </div>
</div>
